{%extends "./layout.njk"%}

{%block content%}
  <div class="content_admin_chefs public">
    <div class="chefs">
      {% for chef in chefs %}
        <div class="item">
          <div class="avatar"><img src="{{chef.avatar_url}}" alt="Foto do chef"></div>
          <div class="details">
            <h2>{{chef.name}}</h2>
            <h4>{{chef.qtd_recipes}}
              receitas</h4>
          </div>
        </div>
      {% endfor %}
    </div>

  </div>

  {%endblock%}