{%extends "./layout.njk"%}

{%block content%}
  <div class="content">
    <div class="apresentation">
      <div class="description">
        <h1>As melhores receitas</h1>
        <h2>Aprenda a construir os melhores pratos com receitas criadas por profissionais do mundo inteiro.</h2>
      </div>
      <div class="chef_img"><img src="/img/chef.png" alt="Chefe de Cozinha">
      </div>
    </div>
  </div>
  <p class="more_acess">Mais acessadas</p>
  <div class="recipe">
    {%for recipe in recipes%}

      <div class="recipe_card" id="{{recipe.id}}">
        <div class="recipe_img">
          <img src="{{recipe.image}}" alt="{{recipe.title}}">
        </div>
        <div class="recipe_desc">
          <h2>{{recipe.title}}</h2>
          <p>{{recipe.recipe_author}}</p>
        </div>
      </div>
      {%endfor%}
    </div>
    {%endblock%}

    {%block scripts%}
      <script src="/card_recipe.js"></script>
      {%endblock%}