<!DOCTYPE html>
<html>

  <head>
    {%block head%}
      <title>FOODFY</title>
      {%endblock%}
      <link rel="stylesheet" href="/style.css">
    </head>

    <body>
      <header>
        <div class="logo">
          <a href="/"><img src="/img/logo.png" alt="Logotipo do restaurante FoodFy"></a>
        </div>
        <div class="itens">
          <a href="/about">Sobre</a>
          <a href="/recipe">Receitas</a>
          <a href="/chefs">Chefs</a>
        </div>
        {% block header_find %}{% endblock header_find %}
      </header>

      {% block content%}
        {%endblock%}

        <footer>
          <p>Todos os direitos reservados a FoodFy.</p>
        </footer>

        {% block scripts %}{% endblock %}

      </body>
    </html>