<div class="name">
  <h2>Nome</h2>
  <input type="text" name="name" placeholder="Digite seu nome completo" value="{{chef.name}}">
</div>
<div class="Avatar">
  <h2>Avatar</h2>
  <p>Enviar avatar</p>
  <div>
    <input type="file" name="avatar" class="avatar_chef" accept="image/*">
  </div>
</div>

<button class="button_submit" type="submit">Salvar chef</button>