arquivos/LICENSE
arquivos/README.md
arquivos/desafios/02-1-primeiro-html.md
arquivos/desafios/02-2-pagina-descricao.md
arquivos/desafios/02-3-pagina-cursos-e-iframe.md
arquivos/desafios/02-foodfy.md
arquivos/desafios/favicon.ico
arquivos/layouts/foodfy.pdf
arquivos/layouts/mockup.png
arquivos/layouts/assets/asinhas.png
arquivos/layouts/assets/burger.png
arquivos/layouts/assets/chef.png
arquivos/layouts/assets/doce.png
arquivos/layouts/assets/espaguete.png
arquivos/layouts/assets/lasanha.png
arquivos/layouts/assets/logo.png
arquivos/layouts/assets/pizza.png
arquivos/layouts/specs/index.html
arquivos/layouts/specs/assets/119236-OQ05QX-268.png
arquivos/layouts/specs/assets/Rectangle Copy 2.png
arquivos/layouts/specs/assets/Rectangle Copy.png
arquivos/layouts/specs/assets/Rectangle.png
arquivos/layouts/specs/links/desafio-02-praticando-css-home.html
arquivos/layouts/specs/links/desafio-02-praticando-css-receitas-modal.html
arquivos/layouts/specs/links/desafio-02-praticando-css-receitas.html
arquivos/layouts/specs/links/desafio-02-praticando-css-sobre.html
arquivos/layouts/specs/preview/desafio-02-praticando-css-home.png
arquivos/layouts/specs/preview/desafio-02-praticando-css-receitas-modal.png
arquivos/layouts/specs/preview/desafio-02-praticando-css-receitas.png
arquivos/layouts/specs/preview/desafio-02-praticando-css-sobre.png
arquivos/materiais/css.pdf
arquivos/materiais/html.pdf
