@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  border: 0;
}

body {
  font-family: "Roboto", sans-serif;
  color: #111111;
}

header {
  display: flex;
  margin: 0px auto;
  width: 940px;
  padding: 30px 30px 30px;
  align-items: center;
}

.logo {
  margin-right: 124px;
}

.itens a {
  margin-right: 30px;
  text-decoration: none;
  color: #111111;
}

.apresentation {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  margin: 0px auto;
  height: 366px;
  width: 940px;
  background-color: #fbdfdb;
  border-radius: 30px;
}

.description h1 {
  align-items: center;
  margin-left: 60px;
  max-width: 305px;
  max-height: 38px;
  font-size: 32px;
  font-weight: bold;
}

.description h2 {
  margin-left: 60px;
  margin-top: 10px;
  max-width: 316px;
  max-height: 84px;
  opacity: 0.7;
  font-weight: normal;
  font-size: 18px;
  color: #000000;
}

.chef_img {
  text-align: end;
  margin-right: 100px;
}

.more_acess {
  width: 940px;
  margin: 0 auto;
  margin-top: 50px;
  margin-bottom: 20px;
  font-weight: bold;
  font-size: 24px;
}

.recipe {
  width: 940px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.recipe .recipe_card {
  width: 300px;
  margin: 0px 20px 30px 0px;
}

.recipe_card {
  cursor: pointer;
}

.recipe .recipe_card img {
  width: 300px;
  height: 140px;
  border-radius: 15px;
  object-fit: cover;
  object-position: center;
}

.recipe .recipe_card .recipe_desc {
  margin-top: 20px;
}

.recipe .recipe_card .recipe_desc h2 {
  font-size: 18px;
  font-weight: normal;
  color: #111111;
}

.recipe .recipe_card .recipe_desc p {
  font-size: 14px;
  color: #777777;
}

footer {
  margin-top: 20px;
  bottom: 0;
  width: 100%;
  height: 60px;
  background-color: #eeeeee;
}

footer p {
  padding-top: 23px;
  text-align: center;
}

/* ------- Style About ------- */

.content_about {
  margin: 0 auto;
  width: 940px;
}

.content_about .about_history h1 {
  font-weight: bold;
  font-size: 24px;
  color: #111111;
  margin: 20px 0px 20px 0px;
}

.content_about p {
  font-size: 18px;
  font-weight: normal;
  color: #444444;
  line-height: 28px;
}

.content_about h2 {
  margin: 30px 0px 20px 0px;
  font-size: 20px;
  font-weight: bold;
  color: #111111;
}

.content_recipe {
  margin-top: 20px;
}

/* ---------- Style Recipe_desc ----------- */
.content_index_admin,
.content_recipe_desc {
  margin: 0 auto;
  width: 940px;
}

.content_recipe_desc img {
  border-radius: 15px;
  margin: 0 auto;
  width: 940px;
  height: 240px;
  object-fit: cover;
  object-position: center;
}

.content_recipe_desc h1 {
  font-weight: bold;
  color: #111111;
  font-size: 36px;
  text-align: center;
  margin-top: 50px;
}

.content_recipe_desc .author {
  text-align: center;
  margin-top: 4px;
  margin-bottom: 50px;
  font-size: 20px;
  color: #777777;
}

.content_recipe_desc h3 {
  font-size: 24px;
  font-weight: bold;
  color: #111111;
  margin-bottom: 20px;
  margin-top: 39px;
}

.content_recipe_desc .information p {
  font-size: 18px;
  color: #444444;
  line-height: 28px;
}

.content_recipe_desc .preparation li {
  font-size: 18px;
  color: #444444;
  line-height: 28px;
  list-style-position: inside;
}

.content_recipe_desc .ingredients li {
  font-size: 18px;
  color: #444444;
  line-height: 28px;
  list-style-position: inside;
}

.content_recipe_desc span {
  font-size: 12px;
  color: #999999;
  cursor: pointer;
}

/* ------ esconde ----- */

.content_recipe_desc .information.active {
  display: none;
}

.content_recipe_desc .preparation.active {
  display: none;
}

.content_recipe_desc .ingredients.active {
  display: none;
}

/* ----- Style Admin ----- */

header.admin {
  display: flex;
  margin: 0px auto;
  width: 100%;
  height: 80px;
  background-color: #111111;
  border: 0;
  padding: 0;
}

.logoAdmin a {
  margin-left: 124px;
  margin-right: 50px;
}

.admin .menu {
  width: 100%;
  align-content: center;
}

.admin .menu a {
  margin-right: 30px;
  align-self: center;
  text-decoration: none;
  font-weight: bold;
  color: #ffffff;
  font-size: 15px;
}

.admin .menu a:hover {
  color: #6558c3;
  transition: 400ms;
}

.logoAdmin .content_index_admin h1 {
  margin-top: 50px;
  margin-bottom: 30px;
  font-size: 24px;
  font-weight: bold;
  color: #111111;
}

.content_admin_chefs h1,
.content_index_admin h1 {
  margin-top: 50px;
  margin-bottom: 30px;
}

.content_index_admin .card {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 80px;
}

.content_index_admin .card .item .img img {
  width: 172px;
  height: 80px;
  border-radius: 8.57px;
  object-fit: cover;
  object-position: center;
}

.content_index_admin .card .item {
  display: grid;
  grid-template-columns: 172px 1fr;
  box-sizing: border-box;
  align-items: center;
  padding-bottom: 20px;
}

.content_index_admin .card .item .item_content {
  padding-left: 20px;
}

.content_index_admin .card .item .item_content h2 {
  font-size: 18px;
  color: #111111;
  font-weight: normal;
  padding-bottom: 5px;
}

.content_index_admin .card .item .item_content h3 {
  font-size: 14px;
  color: #777777;
  font-weight: normal;
  padding-bottom: 10px;
}

.content_index_admin .card .item .item_content a {
  font-size: 14px;
  color: #6558c3;
  font-weight: bold;
  text-decoration: none;
}

/* -------- Style Recipe Create --------- */
.content_admin_chef_detail,
.content_admin_chefs,
.content_admin_create,
.content_admin_create.formCreate {
  margin: 0 auto;
  width: 940px;
  position: relative;
}

.content_admin_create .details {
  padding-top: 55px;
}

.content_admin_chef_detail .header .chef_name,
.content_admin_chefs h1,
.content_admin_create .details h1 {
  font-size: 24px;
  font-weight: bold;
  color: #111111;
}

.content_admin_create h2 {
  font-weight: bold;
  font-size: 16px;
  color: #111111;
  padding: 30px 0px 10px 0px;
}

.content_admin_create select,
.content_admin_create input {
  width: 100%;
  height: 49px;
  box-sizing: border-box;
  background: #ffffff;
  border: 1px solid #dddddd;
  border-radius: 4px;
  font-size: 16px;
  padding: 15px;
}

.content_admin_create .prepare,
.content_admin_create .ingredient {
  padding-bottom: 8px;
}

.content_admin_create button {
  padding-top: 15px;
  background-color: white;
  text-decoration: none;
  font-weight: bold;
  font-size: 16px;
  color: #6558c3;
}

.content_admin_create .information textarea {
  width: 100%;
  height: 250px;
  border: 1px solid #dddddd;
  border-radius: 4px;
  font-size: 16px;
  padding: 16px;
  font-family: "Roboto";
}

.content_admin_create button.button_submit {
  background: #6558c3;
  border-radius: 4px;
  font-size: 16px;
  color: #ffffff;
  text-align: center;
  width: 139px;
  height: 37px;
  padding: 8px 0px 8px 0px;
  position: absolute;
  top: 55px;
  right: 0px;
  cursor: pointer;
}

.content_recipe_desc.admin {
  padding-top: 55px;
}

.content_recipe_desc.admin .name_recipe_admin {
  display: inline-grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
}

.content_recipe_desc.admin .name_recipe_admin .link {
  display: flex;
  justify-content: flex-end;
}

.content_admin_chef_detail .header .chef_edit a,
.content_recipe_desc.admin .name_recipe_admin .link a {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #6558c3;
  border-radius: 4px;
  font-size: 16px;
  color: #ffffff;
  text-align: center;
  text-decoration: none;
  width: 139px;
  height: 37px;
}

.content_recipe_desc.admin .name_recipe_admin h3 {
  font-size: 24px;
  font-weight: bold;
  color: #111111;
  margin-bottom: 24px;
  margin-top: 0px;
}

.content_admin_create .formDelete button {
  background: #dc4747;
  border-radius: 4px;
  font-size: 16px;
  color: #ffffff;
  text-align: center;
  width: 139px;
  height: 37px;
  padding: 8px 0px 8px 0px;
  position: absolute;
  top: 55px;
  right: 147px;
  cursor: pointer;
}

/* Style Chefs */

.content_admin_chefs .chefs {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.content_admin_chefs .chefs .item {
  display: flex;
  flex-direction: row;
  padding-bottom: 30px;
}

.content_admin_chefs .chefs .item .avatar {
  padding-right: 20px;
}

.content_admin_chefs .chefs .item .avatar img {
  width: 64px;
  height: 64px;
  object-fit: cover;
  object-position: center;
  border-radius: 50%;
}

.content_admin_chefs .chefs .item .details h2 {
  font-weight: normal;
  font-size: 18px;
  color: #111111;
  margin: 8px 0 8px 0;
}

.content_admin_chefs .chefs .item .details a {
  font-size: 14px;
  color: #6558c3;
  text-decoration: none;
  font-weight: bold;
}

.content_admin_chef_detail .header {
  margin-top: 50px;
  margin-bottom: 30px;
}

.content_admin_chef_detail .header {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
  align-items: center;
}

.content_admin_chef_detail .header .chef_edit {
  display: flex;
  flex-direction: row-reverse;
}

.content_admin_chef_detail .chef_detail {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content_admin_chef_detail .chef_detail img {
  margin-bottom: 30px;
  border-radius: 50%;
  width: 200px;
  height: 200px;
  object-fit: cover;
  object-position: center;
}

.content_admin_chef_detail .chef_detail .name {
  font-weight: bold;
  font-size: 36px;
  color: #111111;
  padding-bottom: 4px;
}

.content_admin_chef_detail .chef_detail .total_receita {
  font-size: 20px;
  color: #777777;
}

.content_admin_chef_detail .chef_recipes .recipes {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.content_admin_chef_detail .chef_recipes {
  margin-top: 50px;
}

.content_admin_chef_detail .chef_recipes h1 {
  font-size: 24px;
  color: #111111;
  margin-bottom: 10px;
}

.content_admin_chef_detail .chef_recipes .recipes .item {
  width: 450px;
  display: flex;
  flex-direction: row;
  margin: 20px 20px 20px 0;
}

.content_admin_chef_detail .chef_recipes .recipes .item img {
  margin-right: 20px;
  width: 172px;
  height: 80px;
  border-radius: 8.5px;
  object-fit: cover;
  object-position: center;
}

.content_admin_chef_detail .chef_recipes .recipes .item .item_content h2 {
  font-weight: normal;
  font-size: 18px;
  color: #111111;
  margin-top: 5px;
  margin-bottom: 5px;
}

.content_admin_chef_detail .chef_recipes .recipes .item .item_content h3 {
  font-weight: normal;
  font-size: 14px;
  color: #777777;
  margin-bottom: 10px;
}

.content_admin_chef_detail .chef_recipes .recipes .item .item_content a {
  padding-top: 10px;
  font-weight: bold;
  font-size: 14px;
  color: #6558c3;
  text-decoration: none;
}
