{%extends "admin/layout.njk"%}

{% block content %}
  <div class="content_index_admin">
    <div class="header">
      <div>
        <h1>Gerenciar receitas</h1>
      </div>
      <div class="button_primary">
        <a href="/admin/recipes/create">Criar novo</a>
      </div>
    </div>
    <div class="card">
      {% for recipe in recipes %}
        <div class="item">
          <div class="img"><img src="{{recipe.image}}"></div>
          <div class="item_content">
            <h2>{{recipe.title}}</h2>
            <h3>{{recipe.recipe_author}}</h3>
            <a href="/admin/recipes/{{recipe.id}}">Visualizar</a>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
{% endblock content %}