{% extends "admin/layout.njk" %}

{% block content %}
  <div class="content_recipe_desc admin">
    <div class="name_recipe_admin">
      <div>
        <h3>Receita:
          {{recipe.title}}</h3>
      </div>
      <div class="link">
        <a href="/admin/recipes/{{recipe.id}}/edit">Editar Receita</a>
      </div>
    </div>

    <div class="gallery">
      <div class="highligth">
        {% if not files[0] %}
          <img src="http://placehold.it/940x280?text=NÃO DEU TEMPO DE TIRAR A FOTO, COMERAM TUDO">
          {%else%}
          <img src="{{files[0].src}}" alt="{{files[0].name}}">
        {% endif %}
        {# <div class="lightbox-target">
          <img src="{{files[0].src}}" alt="{{files[0].name}}">
          <a href="#" class="lightbox-close" onclick="Lighbox.close()">
            <i class="material-icons">close</i>
          </a>
        </div> #}
      </div>
      <div class="gallery-preview">
        {% for image in files %}
          <div>
            <img src="{{image.src}}" alt="{{image.name}}" {% if loop.index0 == 0%} class="active" {% endif %} onclick="ImageGallery.setImage(event)">
          </div>
        {% endfor %}
      </div>
    </div>

    <h1>{{recipe.title}}</h1>
    <p class="author">Por
      {{recipe.recipe_author}}</p>
    <div class="item">
      <h3>Ingredientes</h3>
      <div class="ingredients">
        <ul>
          {%for ingredient in recipe.ingredients%}
            <li>{{ingredient}}</li>
            {%endfor%}
          </ul>
        </div>
      </div>
      <div class="item">
        <h3>Modo de preparo</h3>
        <div class="preparation">
          <ul>
            {%for instructions in recipe.preparation%}
              <li>{{instructions}}</li>
              {%endfor%}
            </ul>
          </div>
        </div>
        <div class="item">
          <h3>Informações adicionais</h3>
          <div class="information">
            <p>{{recipe.information}}</p>
          </div>
        </div>
      </div>
    </div>
    {%endblock%}

    {% block scripts %}
      <script src="/scripts.js"></script>
    {% endblock scripts %}